@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: 40px;
  margin-bottom: 0px;
  padding-top: 20px;
  color: #cccccc;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #242424;
}

button {
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
  margin: 5px;
  color: #242424;
  font-weight: 800;
}

input {
  max-width: 200px;
}

p {
  color: white;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

span {
  margin: 5px;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 25px;
}

#exportLink {
  color: #242424;
  background-color: white;
  border-radius: 25px;
  text-decoration: none;
  padding: 5px 10px;
  width: 60px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  margin-left: 50px;
}

#exportLink:hover {
  color: white;
  background-color: #242424;;
  transition: 0.3s;
}

#personBtn {
  border: 2px solid #c453f5;
  color: #c453f5;
  background: transparent;
  transition: 0.3s;
}

#personBtn:hover, .personTag {
  background-color: #c453f5;
  color: #242424;
}

.personTag:hover, .locTag:hover, .orgTag:hover {
  opacity: 0.7;
}

#orgBtn {
  border: 2px solid #63dbb9;
  background: transparent;
  color: #63dbb9;
  transition: 0.3s;
}

#orgBtn:hover, .orgTag {
  background-color: #63dbb9;
  color: #242424;
}

#locBtn {
  border: 2px solid #e8982e;
  background: transparent;
  color: #e8982e;
  transition: 0.3s;
}

#locBtn:hover, .locTag {
  background-color: #e8982e;
  color: #242424;
}

.middleItem {
  padding: 30px;
  border-top: 1px solid rgb(48, 48, 48);
  overflow: scroll;
  min-height: 300px;
}

#main {
 display: flex;
 flex-direction: column;
 margin: 20px;
 color: #b0b0b0;
 background-color: #404040;
}

#mainBox {
  overflow-y: scroll;
  max-height: 50vh;
  padding: 40px;
  text-align: justify;
}

.mainItem {
  margin: 10px 20px;
}

#topbar {
  max-height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
}



